.container-login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - 60px); /* Ajuste a altura para considerar o rodapé */
    background-image: url('/fundo.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card-login {
    width: 100%;
    max-width: 400px;
}