footer {
    z-index: 1;
    background-color: #34495e;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    height: 35px;
    width: 100%;
    position: relative;
}

footer p {
    margin: 0;
}